@font-face {
    font-family: 'InriaSans Bold';
    src: url("../fonts/InriaSans-Bold.ttf");
}

@font-face {
    font-family: 'InriaSans Regular';
    src: url("../fonts/InriaSans-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    background-color: #FBFBFB;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 35%;
}

.image {
    background-image: url("../img/CadastroImg.png");
    background-size: 100%; /* ou "cover" dependendo do efeito desejado */
    background-repeat: no-repeat;
    background-position: center;
    width: 65%;
    height: 100%;

}

.logo {
    font-family: "InriaSans Bold";
    font-size: 26px;
    color: #FEB028;
    margin-left: 86px;
    margin-top: 20px;
}



.image img {
    width: 100%;
    height: 100%;
}


.form-container {
    width: 45%;
    height: 100%;
    text-align: center;
}

.form-container .logo img {
    width: 250px;
    height: 140px;
    margin-top: 20px;
    margin-right: 124px;
}

.input-group {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 84px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "InriaSans Regular";
    justify-content: center;

}

.input-group #nome {
    border-radius: 10px;
    width: 448px;
    height: 67px;
    background-color: #EFEFEF;
    border: none;
    text-indent: 16px;
    outline-color: #FEB028;
}

.input-group #email {
    border-radius: 10px;
    width: 448px;
    height: 67px;
    background-color: #EFEFEF;
    border: none;
    text-indent: 16px;
    outline-color: #FEB028;
}

.input-group #senha {
    border-radius: 10px;
    width: 448px;
    height: 67px;
    background-color: #EFEFEF;
    border: none;
    text-indent: 16px;
    outline-color: #FEB028;
}

.input-group #confirmar-senha {
    border-radius: 10px;
    width: 448px;
    height: 67px;
    background-color: #EFEFEF;
    border: none;
    text-indent: 16px;
    outline-color: #FEB028;
}

.input-group button {
    width: 448px;
    height: 65px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "InriaSans Bold";
    font-size: 18px;
    background-color: #FEB028;
    margin-top: 38px;
}

.input-group #nome::placeholder, #email::placeholder, #senha::placeholder, #confirmar-senha::placeholder {
    color: #A6A6A6;
    font-size: 18px;
    font-family: 'InriaSans Bold';

}

.input-group label {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

h5 {
    font-family: "InriaSans Bold";
    color: #FEB028;
    font-size: 16px;
    margin-left: 86px;
}

.span-required {
    font-size: 12px;
    display: none;
    margin: 3px 0 0 1px;
    color: red;
}




